<div class="container">
  <div class="top">
    <div class="head">
      <img class="logo" src="./assets/logo-color.svg">
      <span class="title">测试系统</span>
    </div>
  </div>
  <div class="wrap">
    <div nz-row>
      <div nz-col nzSpan="8" nzOffset="14">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div nz-row>
      <div nz-col nzSpan="8" nzOffset="12">
        <i class="anticon anticon-copyright"></i> 2018
        <a href="//github.com/cipchk" target="_blank">北脑</a>出品
      </div>
    </div>
  </div>
</div>
