<div class="wrapper" *showAuthed="true">
  <div class="router-progress-bar" *ngIf="isFetching"></div>
  <layout-header class="header"></layout-header>
  <layout-sidebar class="aside"></layout-sidebar>
  <section class="content">
    <reuse-tab></reuse-tab>
    <router-outlet></router-outlet>
    <quick-menu [top]="300" [bgColor]="'#ffffff'" [borderColor]="'#417505'" [icon]="'anticon anticon-flag'" >
      <nz-list [nzBordered]="false" [nzSplit]="false">
        <nz-list-item><a href="#">北脑</a></nz-list-item>
        <nz-list-item><a href="#">出品</a></nz-list-item>
      </nz-list>
    </quick-menu>
  </section>
</div>
