<div class="content__title">
  <h5>查询、新建操作者。</h5>
</div>
<nz-card [nzBordered]="false">
  <div class="text-center">
    <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton" style="width: 520px;">
      <input type="text" nz-input placeholder="请输入">
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch>搜索</button>
      </ng-template>
    </nz-input-group>
  </div>
</nz-card>
<nz-list [nzLoading]="loading" [nzRenderItem]="item" [nzDataSource]="users" [nzGrid]="{gutter: 24, lg: 6, md: 8, sm: 12, xs: 24 }">
  <ng-template #item let-item>
    <nz-list-item>
      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" class="rounded-md bg-blue">
        <div nz-col nzSpan="16">
          <img class="img-fluid align-middle" src="{{item.avatar}}" alt="" />
        </div>
        <div nz-col nzSpan="8" class="text-white text-center">
          <h2 class="h1 text-white mb0">{{item.realName}}</h2>
          <div class="py-sm">{{item.description}}</div>
          <i class="fa fa-sun-o fa-2x"></i>
        </div>
      </div>

    </nz-list-item>
  </ng-template>
</nz-list>

